################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/Samples/HelloBlackStar/obj
/Samples/SolutionLoadRun/obj/Release/netcoreapp3.1
/Samples/SolutionLoadRun/obj/Debug/netcoreapp3.1
/.vs
/Samples/SolutionLoadRun/obj
/Samples/.vs/Samples/v16
/Samples/HelloBlackStar/bin/Debug/netcoreapp3.1
/Samples/.vs/Samples/DesignTimeBuild
/Samples/SolutionLoadRun/bin/Debug/netcoreapp3.1
/Samples/RuleInjectionCall/bin
/Samples/RuleInjectionCall/obj
/Samples/RuleInjectionRule/obj
/Samples/RuleInjectionRule/bin
/Samples/HelloBlackStar/bin/Release/net5.0
/Samples/SolutionLoadRun/bin/Release/net5.0
/Samples/HelloBlackStar/bin/Debug/net5.0
/Samples/SolutionLoadRun/bin/Debug/net5.0
/Samples/MaxUserate/bin/Debug/net5.0
/Samples/MaxUserate/bin/Release/net5.0
/Samples/MaxUserate/obj
/Samples/CustomAction/bin/Debug/netstandard2.0
/Samples/CustomAction/obj
/Samples/.vs/Samples/v17
/Samples/CustomActionCallingRule/bin/Debug/netstandard2.0
/Samples/CustomActionCallingRule/obj
/Samples/CustomAction/bin/Release/netstandard2.0
/Samples/CustomActionCallingRule/bin/Release/netstandard2.0
/Samples/HelloBlackStar/bin/Release/net6.0
/Samples/MaxUserate/bin/Release/net6.0
/Samples/SolutionLoadRun/bin
/Samples/.vs
/Samples/HelloBlackStar/bin/Debug/net6.0
/Samples/MaxUserate/bin/Debug/net6.0
/Samples/USLInjection/obj
/Samples/USLInjection/bin/Debug/netstandard2.0
/Samples/HelloBlackStar/bin/Debug/net7.0
/Samples/MaxUserate/bin/Debug/net7.0
/Samples/USLInjection/bin/Debug/net7.0
/Samples/CustomActionCallingRule/bin/Debug/net7.0
/Samples/CustomAction/bin/Debug/net7.0
/push.cmd
