################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/Samples/HelloBlackStar/obj
/Samples/SolutionLoadRun/obj/Release/netcoreapp3.1
/Samples/SolutionLoadRun/obj/Debug/netcoreapp3.1
/.vs
/Samples/SolutionLoadRun/obj
/Samples/.vs/Samples/v16
/Samples/HelloBlackStar/bin/Debug/netcoreapp3.1
